<html>
	<head></head>
	<body>
		<p>
		The SECRET NUMBER is <%= number %>
		</p>
			<form>
				<input type='text' name='
				guess' />
				<input type='submit' value='Guess!' />
			</form>
			<p>
				<%= if params['guess'].to_i > number.to_i %>
 					<%= "Too high!"
 				end %>
 			</p>
	</body>
</html>


